doctype html
html
  head
    block head
      title= "Login Here"
    link(rel='stylesheet', href='/dist/semantic-ui/semantic.min.css')
    block styles   
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    block content        

    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src="/dist/semantic-ui/semantic.min.js")
    block scripts
    