.ui.secondary.pointing.menu
    a.item(class=(activeitem == "common"?"active":"" ) href="/settings")
        | Common
    a.item(class=(activeitem == "ctc"?"active":"") href="/settings/ctccategory" )
        | CTC Category
    a.item(class=(activeitem == "other"?"active":"" ))
        | Friends