.ui.secondary.pointing.menu
    //- a.item(class=(activeitem == "common"?"active":"" ) href="/settings")
    //-     | Comming Soon
    a.item(class=(activeitem == "ctc"?"active":"") href="/settings/ctccategory" )
        | CTC Category