#idvideoelement{
    width: 100%;
    height: auto;
    background-image:black;
    border: 5px solid black;
}
#videocontainer{
    position: relative;
}
canvas{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
}
#wholeitemcontainer{
    display: none;
}
#picturecanvas{
    display: none;
}
#picturecontainer{
    display: none;
    text-align: center;
}
.sampledectimg{
    width: 150px;
    height: 150px;
    margin-left: 5px;
    object-fit: cover;
    background-color: #b0b0b0;
}
#idmessage_box{
    /* display: none; */
}
#profilepicturehidden{
    display:none;
}