body {
    background-color: #FFFFFF!important;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    margin-top: 7em;
  }
  .wireframe {
    margin-top: 2em;
  }
  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }
  .item-top-sidemenutitle{      
      border: 1px solid #b8aeae;
      margin: 10px;
      text-align: center;
      padding: 10px;
  }  
  .sidemenu-profileimg{
      width: 152px;
      border: 8px solid #e3e3e3;            
      height: 152px;
      object-fit: cover;
  }
  .sidebar-profile-heading{
      margin: 5px;
      font-size: 15px;
  }
  .mainmargin{
    padding-top:62px;
  }
  .table_norecord{
    text-align: center;
    color: red;
  }
  .centerimagemaindiv{
    text-align: center;
  }
  .main_profile{
    width:150px;
    border:8px solid #c7c7c7;
  }
  .addbtn_space{
    margin-top: 23px!important;
  }
  .colorgreen{
    color: green;
  }
  .colorred{
    color: red;
  }
  #sidedate-container{
    height: 100%;
    background-color: #ffffff;
    padding: 5px;    
    border: 1px solid #c9c9c9;
  }
  .class-insidedate{    
    text-align: center;
    background-color: #ffffff;
    margin: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
    color: #444444;
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px #949494;    
  }
  .class-insidedate:hover{     
    box-shadow:0px 0px;
  }
  .class-insidedate.clicked{
    box-shadow: 0px 0px 3px 1px #696969 inset;    
  }
  #mainworkschedulecontainer{

  }
  .class-eachprofile{      
    margin-bottom: 15px;
    border: 1px solid #919191;
    padding: 5px;
    padding-left: 10px;
  }
  .ce-title{
    font-size: 15px;
    color: #414141;
    margin: 0px!important;
  }
  .ce-description{
    font-size: 13px;
    margin: 0px!important;
    text-indent: 25px;
    text-align: justify;
  }
  .ce-bottom-de{
    margin-top: 5px;    
  }
  .ce-addedto{
    background-color: #f5f5f5;
    padding: 1px;
    padding-left: 5px;
    color: #474747;
    font-size: 16px;
    padding-bottom: 5px;
  }
  .ce-status{
    background-color: #f5f5f5;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    color: #474747;
    font-size: 16px;
    padding-bottom: 5px;
  }