extends ../accesslayout
block head
    title Users
block styles
    link(rel='stylesheet' href='/stylesheets/login.css')  
block content  
    .ui.tiny.breadcrumb
        a.section(href="/dashboard") Dashboard
        i.right.chevron.icon.divider
        a.section(href="/users") User List
        i.right.chevron.icon.divider
        .active.section Add User    
    .ui.segment