extends ../accesslayout
block nav 
    - var actsidmenu = "users" 
block head
    title Users
block styles
    link(rel='stylesheet' href='/stylesheets/login.css')  
block content  
    .ui.tiny.breadcrumb
        a.section(href="/dashboard") Dashboard
        i.right.chevron.icon.divider
        a.section(href="/users") User List
        i.right.chevron.icon.divider
        .active.section Add User    
    .ui.segment
        h4.ui.header.horizontal.divider
            | New User        
        form.ui.form(action="/users/saveuser",method="post", enctype="multipart/form-data")
            .fields
                .four.wide.field
                    label  Full Name
                    input(type="text", name="name", placeholder="Full Name", required="true")
                .four.wide.field
                    label  Email
                    input(type="email", name="email", placeholder="Email", required="true")
                .four.wide.field
                    label  Gender
                    .field
                        .ui.radio.checkbox
                            input(type='radio' id="id_gendermale" value="male" name='gender' checked='checked')
                            label(for="id_gendermale") Male                                                        
                    .field
                        .ui.radio.checkbox
                            input(type='radio' id="id_genderfemale" value="female" name='gender')
                            label(for="id_genderfemale") Female
                .four.wide.field
                    label  DOB
                    input(type="date",name="dob", placeholder="Date of Birth")
            .fields
                .four.wide.field
                    label  Designation
                    input(type="text",name="designation", placeholder="Designation" )
                .four.wide.field
                    label  Address
                    textarea(type="text",name="address", placeholder="Address" rows="1")
                .four.wide.field
                    label  Zip/Pin Code
                    input(type="number",name="pincode", placeholder="Zip/Pin Code" )
                .four.wide.field
                    label Browse Profile Picture
                    input(type="file", name="file", accept="image/*")
            .fields 
                .sixteen.wide.field                    
                    button.ui.right.floated.primary.button 
                        | Save
                    a.ui.right.floated.button(href="/users")
                        | Cancel

