extends ../accesslayout
block nav 
  - var actsidmenu = "dashboard" 
block head
  title Dashboard
block styles
  link(rel='stylesheet' href='/stylesheets/dashboard.css')  
block content      
  .ui.segment  
    .ui.grid.menuparent
      .four.wide.column        
        a.menusampleitem.item-color-one(href="/users")
          i.user.outline.icon
          p Users
      .four.wide.column        
        a.menusampleitem.item-color-two(href="/workschedule/index")
          i.calendar.alternate.icon
          p Work Schedule
      .four.wide.column        
        a.menusampleitem.item-color-three(href="/attendance")
          i.calendar.check.icon
          p Attendance            
      .four.wide.column        
        a.menusampleitem.item-color-four(href="/payroll/index")
          i.crosshairs.icon
          p Payroll                   
      .four.wide.column        
        a.menusampleitem.item-color-five(href="/leave")
          i.envelope.outline.icon
          p Leave         
      .four.wide.column        
        a.menusampleitem.item-color-six(href="/holidays")
          i.calendar.alternate.outline.icon
          p Holidays
      .four.wide.column        
        a.menusampleitem.item-color-seven(href="/complaints")
          i.question.circle.outline.icon
          p Complaints
      .four.wide.column        
        a.menusampleitem.item-color-eight(href="/reports")
          i.chart.line.icon
          p Reports
      .four.wide.column        
        a.menusampleitem.item-color-nine(href="/settings")
          i.cog.icon
          p Settings
