extends ../accesslayout
block head
  title Dashboard
block styles
  link(rel='stylesheet' href='/stylesheets/login.css')  
block content        
      h1.ui.header Semantic UI Fixed Template
      p This is a basic fixed menu template using fixed size containers.
      p
        | A text container is used for the main container, which is useful for single column layouts
      p
        | A text container is used for the main container, which is useful for single column layouts
        
        | A text container is used for the main container, which is useful for single column layouts
      p
        | A text container is used for the main container, which is useful for single column layouts
        | A text container is used for the main container, which is useful for single column layouts
      p
        | A text container is used for the main container, which is useful for single column layouts
        | A text container is used for the main container, which is useful for single column layouts
      p
        | A text container is used for the main container, which is useful for single column layouts
        | A text container is used for the main container, which is useful for single column layouts
      p
        | A text container is used for the main container, which is useful for single column layouts
      
