extends ../accesslayout
block head
    title My Account
block styles
    link(rel='stylesheet' href='/stylesheets/login.css')  
block content  
    .ui.tiny.breadcrumb
        a.section(href="/dashboard") Dashboard
        i.right.chevron.icon.divider
        a.section(href="/settings") Settings                  
        i.right.chevron.icon.divider
        a.section(href="/users/myaccount") My Account
        i.right.chevron.icon.divider        
        active.section Change Password          
    if success_msg && success_msg != ""             
        .ui.success.message                
            .header #{success_msg}        
    .ui.segment               
        h4.ui.header.horizontal.divider
            | My Account
        form.ui.form(action="/users/updatepassword/" method="post" id="myaccountupdatepassword" )                    
            .fields
                .four.wide.field
                    label  Password
                    input(type="password" name="password" id="id_password" placeholder="Password" required="true" )
                .four.wide.field
                    label  Confirm Password
                    input(type="password" name="confirmpassword" id="id_confirmpassword" placeholder="Confirm Password" required="true" )         
                .four.wide.field   
                    a.ui.button.addbtn_space(href="/users/myaccount")
                        | Cancel
                    button.ui.primary.button.addbtn_space 
                        | Update            
                