extends ../accesslayout
block head
    title Users
block styles
    link(rel='stylesheet' href='/stylesheets/login.css')  
block content  
    .ui.tiny.breadcrumb
        a.section(href="/dashboard") Dashboard
        i.right.chevron.icon.divider
        .active.section User List    
    .ui.segment
        if success_msg && success_msg != ""             
            .ui.success.message                
                .header #{success_msg}

        table.ui.celled.striped.table
            thead
                tr
                    th(colspan='5')
                        | Users List
                        a.ui.right.floated.small.primary.labeled.icon.button(href="/users/addusers")
                            i.user.icon
                            |  Add User                                            
                tr
                    th Name
                    th Email 
                    th Designation                    
                    th Status
                    th Action

            tbody
                if Object.keys(user_list).length <= 0
                    tr
                        td(colspan="5")
                            p.table_norecord| No Record has been found!!!                
                else
                    each user in user_list
                        tr
                            td #{user.name}
                            td #{user.email}
                            td #{user.designation}
                            td 
                                if user.status == "active"
                                    | Active
                                else    
                                    | Inactive 
                            td 
                                a(href="/users/viewuser")
                                    i.file.outline.icon
                                    |View
                                |&nbsp;&nbsp;&nbsp;
                                a(href="/users/viewuser")
                                    i.edit.outline.icon
                                    |Edit


