extends ../../accesslayout
block nav 
    - var actsidmenu = "attendance" 
block head
    title Add Attendance    
    block styles      
        link(rel='stylesheet' href='/stylesheets/attendance.css')
block content  
    .ui.tiny.breadcrumb
        a.section(href="/dashboard") Dashboard
        i.right.chevron.icon.divider
        a.section(href="/attendance") Attendance
        i.right.chevron.icon.divider
        .active.section Add Attendance
    .ui.segment
        if success_msg && success_msg != ""             
            .ui.success.message                
                .header #{success_msg}
        h4.ui.header.horizontal.divider
            | Add Attendance
        img(src="/profilepictures/#{user.profilepicture}" id="profilepicturehidden" )
        .ui.grid.container        
            .eight.wide.column                
                .ui.icon.message(id="idmessage_box")
                    i.notched.circle.loading.icon
                    .content
                        .header Wait  
                .ui.positive.message(id="successmessage")                    
                    .header
                        | Face Recognized
                    p
                        | Your Attendance has been marked
                .ui.negative.message(id="errormessage")                    
                    .header
                        | Face Not Recognized!!!
                    p
                        | Your Face is not recognized, Try Again

                #wholeitemcontainer                    
                    canvas(id="picturecanvas")
                    #videocontainer
                        video(id="idvideoelement" autoplay='' muted='')                    
                button.ui.button(id="startcapture") Start                                    
            .eight.wide.column                 
                #picturecontainer
                        img.sampledectimg(id="sampleimageone")
                        img.sampledectimg(id="sampleimagetwo")
                        img.sampledectimg(id="sampleimagethree")                    
                
block scripts
    script(src="/dist/api/face-api.min.js")
    script(src="/javascripts/attendance.js")
    
