extends ../../accesslayout
block head
    title Settings
block styles
    link(rel='stylesheet' href='/stylesheets/login.css')  
block content  
    .ui.tiny.breadcrumb
        a.section(href="/dashboard") Dashboard
        i.right.chevron.icon.divider        
        .active.section Settings
    .ui.segment
        - var activeitem = 'common'
        include includes/topmenu
        
        