.ui.inverted.vertical.footer.segment
  .ui.center.aligned.container
    .ui.stackable.inverted.divided.grid.centered
      .twelve.wide.column
        h4.ui.inverted.header Employee Manager
        p
          | Employee Manager is developed for 
          b
            |The Pitney Bowes Shipping Hackathon 2019 
        a.item(href="https://www.hackerearth.com/@lithinonline" target="_blank")
          | https://www.hackerearth.com/@lithinonline
    .ui.inverted.section.divider    
    .ui.horizontal.inverted.small.divided.link.list
        | Developed By &nbsp;
        a.item(href='https://lithinonline.com' target="_blank")          
            | lithinonline.com
