.ui.sidebar.vertical.menu.sidecustommenu
  .item-top-sidemenutitle
    img.sidemenu-profileimg(src="images/sample-profile.png")
    h3.sidebar-profile-heading  
      | Sample Name
  a.item.echo(href="/dashboard" class="myd-active")
    i.expand.icon.dash-icons
    |  Dashboard
