.ui.sidebar.vertical.menu.sidecustommenu
  .item-top-sidemenutitle
    img.sidemenu-profileimg(src="images/sample-profile.png")
    h3.sidebar-profile-heading  
      | Sample Name
  a.item.echo(href="/dashboard" class="myd-active")
    i.expand.icon.dash-icons
    |  Dashboard
  a.item.echo(href="/dashboard" class="myd-active")
    i.user.outline.icon.dash-icons
    |  Users
  a.item.echo(href="/dashboard" class="myd-active")
    i.clock.icon.dash-icons
    |  Work Schedule
  a.item.echo(href="/dashboard" class="myd-active")
    i.calendar.check.icon.dash-icons
    |  Attendance
  a.item.echo(href="/dashboard" class="myd-active")
    i.credit.card.outline.icon.dash-icons
    |  Payrol
  a.item.echo(href="/dashboard" class="myd-active")
    i.hourglass.icon.dash-icons
    |  Leaves
  a.item.echo(href="/dashboard" class="myd-active")
    i.calendar.alternate.icon.dash-icons
    |  Holidays
  a.item.echo(href="/dashboard" class="myd-active")
    i.book.icon.dash-icons
    |  Complaints
  a.item.echo(href="/dashboard" class="myd-active")
    i.chart.bar.outline.icon.dash-icons
    |  Reports
