.ui.fixed.menu    
  a#btn-show.item
    i.bars.icon.main-sel-s
  .item        
    |  Employee Manager      
  .right.menu
    .ui.dropdown.pointing.link.item
      .text
        img.ui.avatar.image(src="/images/sample-profile.png")
        i.dropdown.icon
      .menu
        a.item(href="/")
          i.user.outline.icon
          | My Account
        a.item(href="/users/logout")
          i.sign.in.alternate.icon
          | Logout

