.ui.fixed.menu    
  a#btn-show.item
    i.bars.icon.main-sel-s
  .item        
    |  Employee Manager      
  .right.menu
    .ui.dropdown.pointing.link.item
      .text
          if user.profilepicture
            img.ui.avatar.image(src="/profilepictures/#{user.profilepicture}" id="myprofileimage" )
          else  
            img.ui.avatar.image(src="/images/sample-profile.png")
          i.dropdown.icon
      .menu
        a.item(href="/users/myaccount")
          i.user.outline.icon
          | My Account
        a.item(href="/users/logout")
          i.sign.in.alternate.icon
          | Logout

