.ui.secondary.pointing.menu
    a.item(class=(activeitem == "attendance"?"active":"" ) href="/reports/attendance")
        | Attendance Report
    a.item(class=(activeitem == "performance"?"active":"") href="/reports/performance" )
        | Performance Report
    a.item(class=(activeitem == "payroll"?"active":"" ) href="/reports/payroll" )
        | Payroll Report